<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>POSTHIVE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>PostHive uses Face ID to securely authenticate and sign you in.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>PostHive needs access to your microphone to record audio commands and create tasks using voice input.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PostHive needs access to save videos and images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PostHive needs access to your photo library to attach images and videos to your tasks and posts.</string>
	<key>NSCameraUsageDescription</key>
	<string>PostHive needs access to your camera to capture photos and videos for your tasks and posts.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>PostHive needs access to speech recognition to create tasks and events using voice commands.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>BBHSansHegarty-Regular.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>MillerBanner-LightItalic.otf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PostHive App</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>posthive</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
